<div class="custom-collection-container">
  {% assign collection = collections[block.settings.main_collection] %}
  {% assign collection_title = collection.title | downcase | handleize %}
  <div data-section-id="{{ section.id }}" data-section-type="collection-template">
  <div class="collection-nav small--hide">
    <ul>
      {% for link in linklists[section.settings.main_linklist].links %}
        {% assign link_title = link.title | downcase | handleize %}
        <li class="collection-nav-link {% if link_title == 'best-sellers'%} link-active{% endif %}" data-collection="{{ link_title }}" >
            {{ link.title | capitalize }}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="medium-up--hide mobile-collection-nav" id="mcn">
    <div class="mobile-nav-title--container">
      <h4 class="mobile-nav-title font-family-sans-serif">Best Sellers</h4>
      <div class="mobile-nav-title--caret">
        {% include 'icon-chevron-down' %}
      </div>
    </div>
    <div class="mobile-collection-nav-inner" style="display: none;">
      <ul>
        {% for link in linklists[section.settings.main_linklist].links %}
          {% assign link_title = link.title | downcase | handleize %}
          <li class="collection-nav-link {% if link_title == 'best-sellers'%} link-active{% endif %}" data-collection="{{ link_title }}" >
              {{ link.title | capitalize }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="page-width" id="Collection">
    {% for block in section.blocks %}
    {% assign collection = collections[block.settings.main_collection] %}
    {% assign collection_title = collection.title | downcase | handleize %}
      <div class="grid grid__item--{{section.id}} grid--uniform grid--view-items{% if forloop.first %} grid-active{% endif %} collection-grid" data-collection="{{ collection_title }}">
        {% for product in collection.products %}
          <div class="grid__item small--one-half medium-up--one-fifth" >
            {% include 'product-card-grid', max_height: 600 %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
</div>
<script>
  (function($){
    function gridChange(collection, activeLink){
      $('.link-active').removeClass('link-active');
      activeLink.addClass('link-active');
      $('.grid-active').removeClass('grid-active');
      $('.collection-grid[data-collection="' + collection + '"]').addClass('grid-active');
    }

    function mobileChange(){
      var active_link = $('.link-active').text();
      $('.mobile-nav-title--container').removeClass('is-expanded')
      $('.mobile-nav-title').text(active_link);
      $('.mobile-collection-nav-inner').slideToggle().removeClass('active');
    }

    $('.collection-nav-link').click(function(){
      var collection = $(this).attr('data-collection'),
          self = $(this);

      gridChange(collection, self);
      mobileChange();
    });

    $('.mobile-nav-title--container').click(function(){
      $(this).toggleClass('is-expanded');
      $('.mobile-collection-nav-inner').slideToggle().addClass('active');
    })

    // window.addEventListener('click', function(e){   
    //   if (document.getElementById('mcn').contains(e.target)){
    //     $('.mobile-collection-nav-inner').addClass('active');
    //   } 
    //   else{
    //     $('.active').removeClass('active');
    //   }
    // });
  })(jQuery);
</script>

{% schema %}
  {
    "name": "Collection pages",
    "max_blocks": 11,
    "settings": [
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Links"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "main_collection",
            "label": "Collection"
          }
        ]
      }
    ],
    "class": "hero-section",
    "presets": [
      {
        "name": "Collection Custom",
        "category": "Collection"
      }
    ]
  }
{% endschema %}