<div class="newsletter-section{% if section.settings.show_background %} index-section--newsletter-background{% endif %}">
  <div class="page-width">
    {%- assign formId = 'Contact_' | append: section.id -%}
    {% form 'customer', id: formId, novalidate: 'novalidate', class: 'contact-form form-single-field' %}
      {%- if form.posted_successfully? -%}
        <p class="form-message form-message--success" tabindex="-1" data-form-status>
          {{ 'general.newsletter_form.confirmation' | t }}
        </p>
      {%- endif -%}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="input-group {% if form.errors %} input-group--error{% endif %}">
        <div class="input-grid-item">
          <input type="text" id="{{ formId }}-first_name" placeholder="First name" value="{{ form.first_name }}" name="contact[first_name]" class="field {% if form.errors contains "author" %}error{% endif %}">
        </div>
        <div class="input-grid-item">
          <input type="text" id="{{ formId }}-last_name" placeholder="Last name" value="{{ form.last_name }}" name="contact[last_name]" class="field {% if form.errors contains "author" %}error{% endif %}">
        </div>
        <div class="input-grid-item">
          <input type="email"
          name="contact[email]"
          id="{{ formId }}-email"
          class="{% if form.errors %} input--error{% endif %}"
          value="{{ form.email }}"
          placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
          aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
          aria-required="true"
          autocorrect="off"
          autocapitalize="off"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="{{ formId }}-email-error"
            data-form-status
          {% endif %}
          >
        </div>
        <div class="input-grid-item">
          <span>
            <button type="submit" class="btn btn-flat--black" name="commit" id="Subscribe">
              <span>{{ 'general.newsletter_form.submit' | t }}</span>
            </button>
          </span>
        </div>
      </div>
      {%- if form.errors contains 'email' -%}
        <span id="{{ formId }}-email-error" class="input-error-message">
          <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
          {% include 'icon-error' %}
          <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
        </span>
      {%- endif -%}
    {% endform %}
  </div>
</div>



{% schema %}
{
  "name": {
    "da": "Nyhedsbrev",
    "de": "Newsletter",
    "en": "Newsletter",
    "es": "Boletín",
    "fi": "Uutiskirje",
    "fr": "Newsletter",
    "hi": "न्यूज़लेटर",
    "it": "Newsletter",
    "ja": "ニュースレター",
    "ko": "뉴스레터",
    "nb": "Nyhetsbrev",
    "nl": "Nieuwsbrief",
    "pt-BR": "Newsletter",
    "pt-PT": "Newsletter",
    "sv": "Nyhetsbrev",
    "th": "จดหมายข่าว",
    "zh-CN": "新闻通讯",
    "zh-TW": "電子報"
  },
  "presets": [
    {
      "name": {
        "da": "Nyhedsbrev",
        "de": "Newsletter",
        "en": "Newsletter",
        "es": "Boletín",
        "fi": "Uutiskirje",
        "fr": "Newsletter",
        "hi": "न्यूज़लेटर",
        "it": "Newsletter",
        "ja": "ニュースレター",
        "ko": "뉴스레터",
        "nb": "Nyhetsbrev",
        "nl": "Nieuwsbrief",
        "pt-BR": "Newsletter",
        "pt-PT": "Newsletter",
        "sv": "Nyhetsbrev",
        "th": "จดหมายข่าว",
        "zh-CN": "新闻通讯",
        "zh-TW": "電子報"
      },
      "category": {
        "da": "Kampagne",
        "de": "Promotional",
        "en": "Promotional",
        "es": "Promocional",
        "fi": "Mainonnallinen",
        "fr": "Promotionnel",
        "hi": "प्रमोशनल",
        "it": "Promozionale",
        "ja": "プロモーション用",
        "ko": "프로모션",
        "nb": "Kampanjer",
        "nl": "Promotioneel",
        "pt-BR": "Promocional",
        "pt-PT": "Promocional",
        "sv": "Kampanjer",
        "th": "ส่งเสริมการขาย",
        "zh-CN": "促销",
        "zh-TW": "宣傳活動"
      }
    }
  ]
}
{% endschema %}
